* {
  margin: 0;
  padding: 0;
  color: black;
}


body{
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}